<!DOCTYPE html>

<!--<html lang="en ">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Main View</title>
</head>
<body>
    <div class="body">
        <div class="block">
        <a class="title" href="/hello_world">Заголовок</a>
        </div>
        <div class="block">
            <a class="title" href="/hello_world">Второй Заголовок</a>
<!--        <h1 class="title">Второй Заголовок</h1>-->
        </div>
        <div class="block">
            <a class="title" href="/">Третий Заголовок Главная</a>

<!--            <h1 class="title">Третий Заголовок</h1>-->
        </div>
    </div>
</body>
</html>